# 合并操作

In [3]:
import numpy as np

In [5]:
x = np.array([1,2,3])
y = np.array([45,56,67])

In [6]:
x

array([1, 2, 3])

In [7]:
y

array([45, 56, 67])

In [8]:
np.concatenate([x,y])

array([ 1,  2,  3, 45, 56, 67])

In [13]:
z = np.array([444,444,444])
z

array([444, 444, 444])

In [14]:
np.concatenate([x,y,z])

array([  1,   2,   3,  45,  56,  67, 444, 444, 444])

In [17]:
A = np.array([[4,5,6],
             [1,2,3]])
A

array([[4, 5, 6],
       [1, 2, 3]])

In [18]:
np.concatenate([A,A],axis=1)

array([[4, 5, 6, 4, 5, 6],
       [1, 2, 3, 1, 2, 3]])

In [19]:
np.concatenate([A,A],axis=0) #concatenate只能拼接相同维度的
#axis=0,表示按列拼接

array([[4, 5, 6],
       [1, 2, 3],
       [4, 5, 6],
       [1, 2, 3]])

In [20]:
np.concatenate([A,z.reshape(1,-1)])

array([[  4,   5,   6],
       [  1,   2,   3],
       [444, 444, 444]])

In [23]:
AA = np.concatenate([A,z.reshape(1,-1)])
AA

array([[  4,   5,   6],
       [  1,   2,   3],
       [444, 444, 444]])

In [24]:
np.vstack([A,z])

array([[  4,   5,   6],
       [  1,   2,   3],
       [444, 444, 444]])

In [26]:
B = np.full((2,2),100)
B

array([[100, 100],
       [100, 100]])

In [28]:
np.hstack([B,A])

array([[100, 100,   4,   5,   6],
       [100, 100,   1,   2,   3]])

In [35]:
L = np.arange(1000) 
L

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922,
       923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935,
       936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948,
       949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961,
       962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974,
       975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987,
       988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999])

In [37]:
%%time
a = [2*i for i in L]

Wall time: 1 ms

In [38]:
%%time
a = np.array(a)

Wall time: 1.08 ms

# 聚合操作

In [39]:
L = np.random.random(100)

In [40]:
L

array([0.08630267, 0.04102363, 0.15732058, 0.06125376, 0.78898249,
       0.66417958, 0.11798663, 0.89523251, 0.51535272, 0.41396422,
       0.28526718, 0.29526188, 0.19149317, 0.07937259, 0.10947364,
       0.56470634, 0.77344461, 0.47173642, 0.33422872, 0.91552528,
       0.14238476, 0.70098667, 0.30811646, 0.32766595, 0.73122317,
       0.74071389, 0.92316269, 0.34705265, 0.12714373, 0.61752204,
       0.7115863 , 0.09557352, 0.42389606, 0.12526   , 0.89977395,
       0.97872709, 0.77743451, 0.84836944, 0.65201877, 0.1820281 ,
       0.89618304, 0.83997134, 0.52133202, 0.28650909, 0.59851814,
       0.5271555 , 0.33399705, 0.42025901, 0.30744008, 0.34233494,
       0.16725954, 0.26936699, 0.94485603, 0.46516756, 0.69278966,
       0.21754859, 0.99375015, 0.18608588, 0.60522306, 0.09705927,
       0.08309787, 0.52644852, 0.85717494, 0.03526049, 0.59739006,
       0.88648302, 0.66750926, 0.01776095, 0.77780117, 0.95801158,
       0.3801718 , 0.75787802, 0.59093447, 0.57865366, 0.39191079,
       0.60321805, 0.2200628 , 0.02255484, 0.48937305, 0.81943533,
       0.57997515, 0.7651511 , 0.12387218, 0.39823055, 0.03502288,
       0.96647161, 0.06368186, 0.03570082, 0.12764097, 0.22802804,
       0.52623531, 0.10793268, 0.09330492, 0.01079669, 0.64849269,
       0.68010768, 0.55689177, 0.43129899, 0.9809727 , 0.19747677])

In [41]:
sum(L)

45.95397132218956

In [43]:
np.sum(L)

45.95397132218958

In [44]:
big_array = np.random.rand(1000000)
%timeit sum(big_array)
%timeit np.sum(big_array)

140 ms ± 2.21 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
1.47 ms ± 11.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [45]:
np.min(big_array)

8.981676791197657e-08

In [47]:
np.max(big_array)

0.9999996923687782

In [51]:
xx = np.arange(16).reshape(4,4) 
xx

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [57]:
xx[xx[:,3]%3 == 0,:]
#打印出，第三列能被3整除所在行的元素

array([[ 0,  1,  2,  3],
       [12, 13, 14, 15]])